<div class="container">
  <div class="row">
    <h1>Lista de Alumnos </h1>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Promedio</th>
          <th>Edad</th>
          <th>Regular</th>
          <th>Faltas</th>
          <th>Mensaje</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnos">
          <td>{{alumno.id}}</td>
          <td>{{alumno.name}}</td>
          <td>{{alumno.promedio}}</td>
          <td>{{alumno.edad}}</td>
          <td>{{alumno.regular}}</td>
          <td><span *ngIf="alumno.faltas >= 4" >{{getFaltas(alumno)}}</span></td>
          <td><input type="text" class="form-control" [(ngModel)]="alumno.faltas" placeholder="Qty"></td>
          <td>
            <a (click)="addFalta(alumno)" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-plus"></i></a>
            <a (click)="removeFalta(alumno)" class="btn btn btn-danger btn-xs"><i class="glyphicon glyphicon-minus"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <div class="row">
    <form (ngSubmit)="submitComment()">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
          <input type="text" class="form-control" placeholder="ej. Peter Couper" [(ngModel)]="model.name" name="name">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-user"></span></span>
          <input type="text" class="form-control" placeholder="ej. 21" [(ngModel)]="model.edad" name="edad">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-user"></span></span>
          <input type="text" class="form-control" placeholder="ej. 8.5" [(ngModel)]="model.promedio" name="promedio">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
          <input type="text" class="form-control" placeholder="ej. 2" [(ngModel)]="model.faltas" name="faltas">
        </div>
        <!-- <textarea class="form-control" rows="3" placeholder="Text" [(ngModel)]="model.edad" name="edad"></textarea>
        <br /> -->
        <button *ngIf="!editing" type="submit" class="btn btn-primary btn-block">Add</button>
        <button *ngIf="editing" type="submit" class="btn btn-warning btn-block">Update</button>
      </div>
    </form>
  </div>
</div>